.customers_container {
  margin: 0 2rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
}
.customers_header {
  min-height: 6.25rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.customers_header div {
  font-size: 1.3rem;
}

.search_container {
  margin-bottom: 1rem;
}

.search_bar {
  display: flex;
  align-items: center;
}

.search_bar select {
  height: 2.5rem;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  outline: none;
  margin-right: 0.3rem;
  padding: 0 0.3rem;
  font-size: 1rem;
  text-align: center;
}

.search_bar input {
  height: 2.5rem;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  outline: none;
  padding: 0 0.3rem;
  font-size: 1rem;
}

.customers_body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--light-black);
  padding: 0 1rem;
  border-radius: 0.5rem;
}
