.content{
	width: 100%;
	height: 100vh;
	position: relative;
}

.container{
	width: 35rem;
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.header{
	height: 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 2rem;
	position: relative;

}

.header svg{
	font-size: 2rem;
	width: 2rem;
	height: auto;
	rotate: -90deg;
	position: absolute;
	left: 50%;
    top: 0;
    transform: translate(0, -50%);

}

.email{
	background-color: var(--light-black);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.3rem 0 0 0.3rem;
	width: 33%;
	height: 100%;
}

.answer{
	background-color: var(--light-black);
	display: flex;
	justify-content: center;
	align-items: center;
	/* border-radius: 0.3rem 0 0 0.3rem; */
	width: 33%;
	height: 100%;
	margin-right: 0 0.5rem;
}

.email.current, .answer.current, .password.current{
	background-color: var(--purple);
}

.password{
	background-color: var(--light-black);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0.3rem 0.3rem	0;
	width: 33%;
	height: 100%;
}


.container form{
	margin: 0 auto;
	width: 35rem;
	max-width: 100%;
	background-color: var(--light-black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	padding: 2rem 1rem;
	border-radius: 0.5rem;
	box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.75);
}

form p{
	font-size: 1.3rem;
	text-align: center;
	margin-bottom: 2rem;
}

form label{
	margin-bottom: 0.5rem;
}

.content input{
	width: 100%;
	height: 2rem;
	padding: 0 1rem;
	margin-bottom: 1rem;
	border: none;
	border-radius: 0.3rem;
	background-color: #fff;
}

.content input:focus{
	background-color: #fff;
}


.content button{
	width: 100%;
	height: 2rem;
	border-radius: 0.3rem;
	border: none;
	margin-top: 0.5rem;
	background-color: var(--green);
	font-weight: 600;
	font-size: 1rem;
	cursor: pointer;
}

.back_to_login{
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}


.back_to_login button{
	font-weight: 600;
	background-color: transparent;
	display: contents;
	color: #fff;
	font-size: 1.3rem;
}

.back_to_login svg{
	margin-right: 0.5rem;
	
}

.back_to_login button:hover{
	color: var(--purple);
}