.sidebar-container{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

.sidebar {
  width: 15rem;
  min-height: 100vh;
  border-right: 3px solid var(--light-black);
  position: relative;
}

.sidebar a {
  font-weight: 500;
  margin: 0.5rem 0;
}

.sidebar svg {
  margin-right: 0.5rem;
}

.sidebar-title {
  height: 6.25rem;
  border-bottom: 3px solid var(--light-black);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.links {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.links a {
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
}

.links .active {
  border-radius: 0 2rem 2rem 0;
  background-color: var(--light-black);
}


.links .active svg {
  color: var(--purple);
}
.settings-container {
  border-top: 3px solid var(--light-black);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.settings {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.settings a {
  display: flex;
  align-items: center;
}
