.add_container {
  margin: 0 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
}
.add_header {
  min-height: 6.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}

.add_tabs {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;

}

.add_tabs button {
  width: 33.3%;
  height: 2.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  background-color: var(--light-black);
}

.add_tabs button:nth-child(1) {
  border-radius: 0.3rem 0 0 0.3rem;
}

.add_tabs button:nth-child(2) {
  margin: 0 0.3rem;
}

.add_tabs button:nth-child(3) {
  border-radius: 0 0.3rem 0.3rem 0;
}

.add_tabs .active {
  background-color: var(--purple);
}

.add_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-black);
  padding: 3rem 1rem;
  border-radius: 0.5rem;
}

.add_body form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 37.5rem;
  max-width: 100%;
}

.add_body form input {
  width: 100%;
  height: 2rem;
  border: none;
  margin: 0.25rem 0;
  padding: 0 0.5rem;
  border-radius: 0.2rem;
}

.add_body form select {
  width: 100%;
  height: 2rem;
  border: none;
  margin: 0.25rem 0;
  padding: 0 0.5rem;
  border-radius: 0.2rem;
}

.child_input_container {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
}

.child_input_container input:nth-child(1) {
  margin-right: 0.3rem;
}

.add_button_container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.add_button_container button {
  height: 2rem;
  border-radius: 0.2rem;
  border-style: none;
  color: white;
  font-size: 1.2rem;
}

.add_button_container button:nth-child(1) {
  margin-bottom: 0.5rem;
  background-color: var(--green);
}

.add_button_container button:nth-child(2) {
  background-color: var(--red);
}


.add_product_btn{
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;

}

.add_product_btn svg{
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.add_product_btn svg:hover{
  color: var(--green);
}


.suggest_list {
  background-color: var(--light-black);
  position: absolute;
  z-index: 20;
  border-radius: 0.2rem;
  box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.75);
}

.suggest_list ul {
  list-style: none;
  padding: 0.5rem 1rem;
}

.suggest_list li {
  margin: 0.3rem 0;
  cursor: pointer;
  font-size: 0.8rem;
}

.suggest_list li:hover{
	color: var(--purple);
}
