@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --dark-black: #222831;
  --light-black: #393e46;
  --purple: #7858a6;
  --green: #4ecca3;
  --red: #b04a4a;
  --purple-hover: #b1afff;
  --dark-hover: #5c616a;
  --green-hover: #2f886a;
  --red-hover: #e26868;
}

body {
  background-color: var(--dark-black);
  color: #fff;
  width: 100%;
}

main {
  width: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  padding-left: 15rem;
  /* background-color: #2f886a; */
  /* align-items: center; */
}

.no-sidebar{
  padding-left: 0;
  
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  font-size: 1.3rem;
}

.content-section {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* position: relative; */
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-align: center;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  color: #fff;
  background-color: transparent;
  height: 2.5rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid #fff;
  padding: 0 0.3rem;
  /* background-color: #7858A6!important; */
}

select:hover {
  background-color: var(--light-black) !important;
}
