.orders_container {
  margin: 0 2rem;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
.orders_header {
  min-height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: solid 3px var(--light-black);
}

.orders_header table {
  width: 100%;
  border: none;
  font-size: 1.3rem;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  text-align: center;
}

.orders_header td {
  font-weight: 300;
  cursor: auto;
}

.orders_header th {
  width: 33%;
  border: none;
  padding: 0;
}

.orders_header tbody tr:last-child td {
  border: none;
}

.search_container {
  /* background-color: blue; */
  margin-bottom: 1rem;
}

.search_bar {
  display: flex;
  align-items: center;
}

.search_bar select {
  height: 2.5rem;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  outline: none;
  margin-right: 0.3rem;
  padding: 0 0.3rem;
  font-size: 1rem;
  text-align: center;
}

.search_bar input {
  height: 2.5rem;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  outline: none;
  padding: 0 0.3rem;
  font-size: 1rem;
}

.orders_body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--light-black);
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.orders_table {
  position: relative;
  background-color: var(--light-black);
  /* padding: 0 1rem; */
}

.order_table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
}

.row_selected {
  background-color: var(--red);
  position: relative;
}

.order_table th {
  border-bottom: 0.1rem solid var(--dark-black);
  padding: 0.6rem;
  text-align: center;
}

/* .order_table tbody tr{
	position: relative;
} */

.order_table tbody{
	font-weight: 300;
  }

.order_table tbody tr {
  border-bottom: 0.1rem solid var(--dark-black) !important;
}

.order_table tbody tr td {
  padding: 0.5rem 0;
  text-align: center;
  border-bottom: 0.1rem solid var(--dark-black);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.order_table tbody th {
  cursor: pointer;
  font-weight: 300;
}

.order_table tbody tr:last-child th {
  border-bottom: 0.2rem solid var(--dark-black);
}

.order_table tbody tr:last-child td {
  border-bottom: 0.2rem solid var(--dark-black);
}

.order_table tbody tr:hover {
  background-color: var(--dark-black);
}

.table_pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBttns {
  width: auto;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBttns a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  font-size: 100%;
  height: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  color: var(--dark-black);
  background-color: white;
  cursor: pointer;
  text-align: center;
}

.paginationBttns a:hover {
  color: white;
  background-color: var(--red);
}

.paginationActive a {
  color: white;
  background-color: var(--red);
}
